
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
img {
    width: 200px;
}
.link {
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin-left: 20px;
    padding: 20px;
    text-align: center;
}

.title {
    text-decoration: underline;
}
.short {
    border: solid 1px rgba(211, 211, 211, 0.768);
    border-radius: 10px;
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.29);
    padding: 20px;
    padding-left: 40px;
    height: auto;
    width: 500px;
}
.post {
    border: solid 1px rgba(211, 211, 211, 0.768);
    border-radius: 10px;
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.29);
    padding: 40px;
    height: auto;
    width: 500px;
}
.date {
    color: darkgrey;
    font-weight: 100;
}
.author {
    color: blue;
}